/* start global css*/
:root{
    --main-color:#f3f3f3;
    --black-color:#0f0f0f;
    --p-color:#494949db;;
    --white-color:#ffffff;
    --rose-color: #ec008c;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;
    --fs-1:  40px;
    --fs-2: 35px;
    --fs-3:  24px;
    --fs-4:  20px;
    --fs-5:  18px;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --z-ind1: 1;
    --z-ind-2: 2;
    --z-ind-3: 3;
    --z-ind-1:-1;
    --transition-1: 0.5s;
    --section-padding:  30px 0;
    --shadow: drop-shadow(0 9px 6px black);
    --box-shadow:1px 3px 20px 0px #333;
}
@media(max-width:991px){
    :root{
        --fs-1:  25px;
        --fs-2: 22px;
        --fs-3:  20px;
        --fs-4:  16px;
        --fs-5:  14px;
    }
}
@media(max-width:767px){
    :root{
        --fs-1:  22px;
        --fs-2: 20px;
        --fs-3:  18px;
        --fs-4:  15px;
        --fs-5:  14px;
    }
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
}
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card .container .box .active{
    background-color: #ec008e54;
    border-color: #e9052ee0;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}

body{
    font-family: var(--ff-josefin-sans);
} 
.main-titel{
    display: block;
    margin: 0 auto 20px;
    color: var(--rose-color);
    letter-spacing: 2px;
    font-size: var(--fs-2);
    border-bottom: 5px solid var(--rose-color);
    padding: 10px;
    width: fit-content;
    font-weight: bold;
}
#menu{ 
    position: relative;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    
    cursor: pointer;
    z-index: var(--z-ind-3);
}
@media (max-width: 767px) {
    #menu {
    display: flex;
    }
}
#menu span{
    width: 30px;
    height: 4px;
    margin: 2px;
    background-color: var(--black-color);
    border-radius: 2px;
    transition: var(--transition-1);
}
#menu .is-active:first-child{
    display: none;
    background-color: var(--main-color);
}
#menu .is-active:nth-child(2){
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--main-color);
}
#menu .is-active:last-child{
    transform: rotate(-45deg);
    background-color: var(--main-color);
}
/* and global css */
/* end header  */
.header{
    position: relative;
    z-index: var(--z-ind-2);
    background-color: var(--main-color);
    position: relative;
    height: 72px;
    box-shadow: 1px 3px 20px 0px #33333369;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header .container img{
    height: 65px;
}
@media (max-width: 767px) {
    .header .container ul{
        box-shadow: var(--box-shadow);
        padding: 20px;
        position: absolute;
        top: -20px;
        right: 110%; 
        transition: var(--transition-1);
        flex-direction: column;
        background: var(--rose-color);
        width: 100%;
        height: 300px;
        z-index: var(--z-ind-2);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex: 1;
    }
    .header .container .is-active{
    right: 0;
    }
}
.header .container ul > li{
    margin: 0 15px;
}
@media (max-width: 767px) {
    .header .container ul > li{
        margin: 15px;
    }
}


.header .container ul li  a{
    color: var(--black-color);
    font-size: var(--fs-5);
    letter-spacing: 1px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .header .container ul li  a{
    color: var(--main-color);
    }
}

/* start card.card  */
.card{
    padding: var(--section-padding);
}
.card .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    
}
@media (max-width: 767px) {
    .card .container{
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
        align-items: center;
    }
    .card .container img{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}
.card .container img{
    width: 90%;
}
.card .container h2{
    color: var(--rose-color);
    letter-spacing: 1px;
}
.card .container p{
    color: var(--p-color);
    letter-spacing: 1px;
    line-height: 1.4;
}
.card .container .input1,
.card .container .input2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card .container .info h3{
    color: var(--p-color);
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: var(--fs-4);
}
.card .container .info label{
    width: 49%;
}
.card .container .info input{
    width: 100%;
    margin: 5px;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid var(--p-color);
    border-radius: 2px;
}
.card .container .info input:focus{
    outline: none;
}
.card .container .info input::placeholder{
    transition: opacity var(--transition-1);
}
.card .container .info input:focus::placeholder{
    opacity: 0;
}
.card .container .coupan{
    display: flex;
    flex-direction: column;
}
.card .container .coupan .coup{
    display: block;
    position: relative;
    background-color: var(--rose-color);
    text-align: center;
    height: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .container .coupan .coup::before,
.card .container .coupan .coup::after{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--white-color);
    top: 5px;
    position: absolute;
}
.card .container .coupan .coup::before{
    left: -10px;
}
.card .container .coupan .coup::after{
    right: -10px;
}
.card .container .coupan .coup h3{
    margin: 0;
    color: var(--main-color);
    letter-spacing: 1px;
    font-size: var(--fs-4);
}
.card .container .coupan .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .container .coupan .text p{
    color: var(--p-color);
    font-weight: bold;
} 
.card .container .coupan .text p span{
    color: var(--black-color);
    font-size: 21px;
} 
.card .container .coupan .text button{
    height: fit-content;
    width: fit-content;
    background-color: var(--rose-color);
    color: white;
    border: 1px solid var(--main-color);
    padding: 10px;
    border-radius: 5px;
    font-size: var(--fs-5);
}
/* end card.card  */
/* start footer */
.footer{
    background-color: var(--rose-color);
    padding: var(--section-padding);
}
.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .container img{
    height: 70px;
}
.footer .container ul{
    flex-direction: column;
}

.footer .container ul li{
    margin: 10px;
}
.footer .container ul li a{
    color: var(--white-color);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
}
.footer .container .socail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.footer .container .socail a > i{
    color: var(--main-color);
    font-size: var(--fs-5);
}
/* end footer */
/* animation  */
@keyframes color{
    0%{
        color: var(--main-color);
    }
    50%{
        color: var(--rose-color);
    }
    100%{
        color: var(--main-color);
    }
}